{% extends 'ProductManagerApp/base.html' %}

    {% block content %}

        <div class="container">

            <table class="table table-bordered" style="margin-top: 50px;">
                <thead class="thead-light">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Price</th>
                    <th scope="col" class="text-center">
                        <a href="/add_product" class="btn btn-outline-success">
                            <i class="fas fa-plus"></i>
                            Add New
                        </a>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for product in product_list %}
                    <tr>
                        <td>{{product.id}}</td>
                        <td>{{product.name}}</td>
                        <td>${{product.price}}</td>
                        <td class="text-center">
                            <form action="{% url 'product_delete' product.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn">
                                    <i class="fas fa-trash-alt fa-lg text-danger"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>

    {% endblock %}