{% extends 'ProductManagerApp/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <div class="container">

        <form action="" method="post" autocomplete="off" style="margin: 50px auto 0px; width: 550px; background-color: #e3e3e3; padding: 40px; border-radius: 15px;">

            {% if 'success' in request.GET.result %}
                <div class="alert alert-success" role="alert">
                  New product has been successfully added.
                </div>
            {% elif 'failed' in request.GET.result %}
                <div class="alert alert-danger" role="alert">
                  Product with given ID already exists!
                </div>
            {% endif %}

            {% csrf_token %}
            {{form.id|as_crispy_field}}
            {{form.name|as_crispy_field}}
            {{form.price|as_crispy_field}}

            <div class="row" style="margin-top: 25px;">
                <div class="col-md-8">
                    <button type="submit" class="btn btn-success btn-block" style="margin: auto; display: block;">Submit</button>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-secondary btn-block" href="/" style="margin: auto; display: block;">Cancel</a>
                </div>
            </div>
        </form>

    </div>

{% endblock %}